.button {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 21px;
  box-sizing: border-box;
  transform: translateX(10px) skewX(-17deg);

  background-color: $brown-ligth;
  border: none;
  box-shadow: 6px 0 $black-basis, 12px 0 $white;

  cursor: pointer;

  @media (max-width: $mobile-max-width) {
    box-shadow: none;
    transform: skewX(-17deg);
  }
}

.button span {
  display: block;
  transform: skewX(17deg);

  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: $white;
}

/*=============СТАЙЛГАЙД============*/
//hover
.button:hover {
  background-color: rgba($brown-ligth, 0.9);
}

//focus
.button:focus {
  outline: 2px solid $brown-ligth;
  outline-offset: 3px;
}

//active
.button:active {
  outline: none;
  opacity: 0.5;
}
