//Итог
.form-order > p {
  position: absolute;
  top: 635px;
  right: 0;

  display: flex;
  justify-content: space-between;
  width: 555px;
  margin: 0;
  padding: 45px 30px;
  box-sizing: border-box;

  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: $white;

  background-color: $black;
  opacity: 0.8;

  @media (max-width: $mobile-max-width) {
    position: static;

    width: 100%;
    padding: 0;
    margin-bottom: 24px;

    font-size: 26px;
    line-height: 30px;
    color: $black;

    background-color: transparent;
  }
}

//Кнопка Купить
.form-order__button-buy {
  width: 100%;
  margin: 0;
  padding: 24px;
  box-sizing: border-box;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: $black;

  background-color: transparent;
  border: 1px solid $black;
  cursor: pointer;

  @media (max-width: $mobile-max-width) {
    padding: 19px 19px 17px 19px;
  }
}

//СТАЙЛГАЙД
//hover

.form-order__button-buy:hover {
  color: $white;
  background-color: $black;
}

//focus
.form-order__button-buy:focus {
  outline: 2px solid $grey-focus;
  outline-offset: 2px;
}

//active
.form-order__button-buy:active {
  outline: none;
  opacity: 0.3;
}
