.info-user {
  padding: 0;
  margin: 0;
  margin-bottom: 68px;

  border: none;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 36px;
  }
}

.info-user__list {
  @include reset-style-list;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;

  @media (max-width: $mobile-max-width) {
    row-gap: 16px;
  }
}

.info-user__item {
  width: 100%;
}

.info-user__item--name,
.info-user__item--tel {
  width: 46.5%;

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}

.info-user__item input,
.info-user__item textarea {
  width: 100%;
  padding: 18px 0 7px 0;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 16px;
  line-height: 120%;

  border: none;
  border-bottom: 1px solid $grey;

  cursor: pointer;

  @media (max-width: $mobile-max-width) {
    padding: 18px 0 8px 0;
  }
}

.info-user__item input {
  color: $black;

  &::placeholder {
    color: $grey;
  }
}

.info-user__item textarea {
  padding: 22px 0 0 0;

  line-height: 70%;
  color: $black;

  &::placeholder {
    color: $grey;
  }

  resize: none;
}

//Выпадающий список
.info-user__item--select {
  position: relative;
}

.info-user__item--select::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 0;

  width: 19px;
  height: 8px;

  background-image: url("../img/back-icon-arrow.svg");
  background-repeat: no-repeat;

  pointer-events: none; //делает элемент прозрачным для клика
}

.info-user__button-select {
  width: 100%;
  padding: 18px 0 9px 0;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 16px;
  line-height: 120%;
  color: $grey;
  text-align: start;

  border: none;
  border-bottom: 1px solid $grey;

  cursor: pointer;

  background-color: transparent;

  @media (max-width: $mobile-max-width) {
    padding: 18px 0 8px 0;
  }
}

.info-user__button-select--active {
  color: $black;
}

.info-user__list-select {
  @include reset-style-list;
  position: absolute;
  top: 47px;
  left: 0;
  z-index: 20;

  display: none;
  width: 100%;

  font-family: inherit;
  font-size: 16px;
  line-height: 120%;
  color: $grey;
  text-align: start;

  background-color: $white;
  border: 1px solid $grey;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.info-user__list-select--active {
  display: block;
}

.info-user__item-select {
  width: 100%;
  padding: 18px 20px 9px 20px;
  box-sizing: border-box;
}

.info-user__item-select--active {
  color: $black;
}

//СТАЙЛГАЙД
//hover
.info-user__item input:hover::placeholder,
.info-user__button-select:hover,
.info-user__item-select:hover,
.info-user__item textarea:hover::placeholder {
  color: $black;
}

//focus
.info-user__item input:focus,
.info-user__button-select:focus-visible,
.info-user__item textarea:focus {
  outline: 2px solid $grey-focus;
  outline-offset: 2px;
}

//active
.info-user__item input:active,
.info-user__item textarea:active {
  outline: none;
  opacity: 0.3;
}

//invalid
.info-user__item input[type="text"]:invalid {
  color: $red;
}
