.info-user {
  padding: 0;
  margin: 0;
  margin-bottom: 68px;
  border: none;
}

.info-user__list {
  @include reset-style-list;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
}

.info-user__item {
  width: 100%;
}

.info-user__item--name,
.info-user__item--tel {
  width: 46.5%;
}

.info-user__item input,
.info-user__item select,
.info-user__item textarea {
  width: 100%;
  padding: 18px 0 7px 0;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 16px;
  line-height: 120%;
  color: $grey;

  border: none;
  border-bottom: 1px solid $grey;
  cursor: pointer;
}

.info-user__item textarea {
  padding: 22px 0 0 0;
  line-height: 70%;

  resize: none;
}

.info-user__item select {
  appearance: none;
  padding: 18px 0 9px 0;
}

.info-user__item--type {
  position: relative;
}

.info-user__item--type::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 0;

  width: 19px;
  height: 8px;

  background-image: url("../img/back-icon-arrow.svg");
  background-repeat: no-repeat;
}
