.page-body {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: $mobile-max-width) {
    width: 100%;
    padding: 0 16px;
  }
}

.page-body--no-scroll {
  height: 100vh;
  overflow: hidden;
}
