.page-header {
  position: relative;

  margin-bottom: 50px;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 29px;
  }
}

//Кнопка меню
.page-header__toggle {
  display: none;

  @media (max-width: $mobile-max-width) {
    position: absolute;
    top: 22px;
    left: 0;
    z-index: 2;

    display: block;

    cursor: pointer;
  }
}

.page-header--closed .page-header__toggle {
  @media (max-width: $mobile-max-width) {
    width: 28px;
    height: 20px;
    padding: 0;

    background-color: transparent;
    border: none;
  }
}

.page-header--closed .page-header__toggle::after {
  @media (max-width: $mobile-max-width) {
    position: absolute;
    top: 0;
    left: 0;
    content: "";

    width: 28px;
    height: 2px;

    background-color: $black;
    border-radius: 3px;
    box-shadow: 0 10px 0 0 $black, 0 20px 0 0 $black;
  }
}

.page-header--opened .page-header__toggle {
  @media (max-width: $mobile-max-width) {
    width: 23px;
    height: 23px;

    padding: 0;

    background-color: transparent;
    border: none;
  }
}

.page-header--opened .page-header__toggle::after {
  @media (max-width: $mobile-max-width) {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    content: "";

    width: 30px;
    height: 3px;

    background-color: $black;
  }
}

.page-header--opened .page-header__toggle::before {
  @media (max-width: $mobile-max-width) {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    content: "";

    width: 30px;
    height: 3px;

    background-color: $black;
  }
}

.page-header--nojs .page-header__toggle {
  @media (max-width: $mobile-max-width) {
    display: none;
  }
}

//Верхнее меню
.page-header__wrapper-navigation-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 42px;
  padding-right: 4px;

  @media (max-width: $mobile-max-width) {
    position: relative;
    padding-top: 18px;
    padding-bottom: 10px;
  }
}

//Поле поиска
.page-header__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 295px;

  @media (max-width: $mobile-max-width) {
    width: 22px;
    margin-left: 44px;
  }
}

.page-header__button-search {
  background-color: transparent;
  border: none;
  padding: 0;

  cursor: pointer;
}

.page-header__button-search svg {
  width: 25px;
  height: 25px;

  stroke: $black;
  fill: $white;
}

.page-header__form input {
  width: 250px;

  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: $black;

  border: none;
  border-bottom: 1px solid $grey;

  &::placeholder {
    color: $grey;
  }

  @media (max-width: $mobile-max-width) {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;

    border-bottom: none;
  }
}

.page-header__form input:focus {
  outline: 2px solid $grey-focus;
  outline-offset: 2px;

  @media (max-width: $mobile-max-width) {
    width: 100%;
    border-bottom: 1px solid $grey;
  }
}

//Логотип компании
.page-header__logo-link {
  position: absolute;
  top: 99px;
  left: 50%;
  transform: translateX(-50%);

  cursor: pointer;

  @media (max-width: $mobile-max-width) {
    top: 18px;
  }
}

.page-header__logo-link svg {
  width: 160px;
  height: 50px;

  @media (max-width: $mobile-max-width) {
    width: 77px;
    height: 24px;
  }
}

//Пользовательское меню
.page-header__list-navigation-user {
  @include reset-style-list;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 22px;
  row-gap: 22px;
  width: 125px;
  box-sizing: border-box;

  @media (max-width: $mobile-max-width) {
    width: 71px;
    column-gap: 0;
    row-gap: 0;
  }
}

.page-header__link-navigation-user--login {
  @media (max-width: $mobile-max-width) {
    display: none;
  }
}

.page-header__link-navigation-user--login svg {
  width: 22px;
  height: 25px;

  stroke: $black;
  fill: $white;
}

.page-header__link-navigation-user--like svg {
  width: 28px;
  height: 25px;

  stroke: $black;
  fill: $white;

  @media (max-width: $mobile-max-width) {
    width: 24px;
    height: 22px;
  }
}

.page-header__link-navigation-user--cart {
  position: relative;

  @media (max-width: $mobile-max-width) {
    margin-left: 15px;
  }
}

.page-header__link-navigation-user--cart svg {
  width: 23px;
  height: 25px;

  stroke: $black;
  fill: $white;

  @media (max-width: $mobile-max-width) {
    width: 22px;
  }
}

.page-header__cart-counter {
  position: absolute;
  top: -16px;
  right: -4px;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: $white;

  background-color: $black;
  border-radius: 50%;

  @media (max-width: $mobile-max-width) {
    top: -13px;
    right: -8px;
  }
}

//Нижнее меню
.page-header__list-navigation-site {
  @include reset-style-list;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
  width: 100%;
  padding-top: 27px;

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
    align-items: center;
    column-gap: 0;
    row-gap: 0;
  }
}

.page-header--closed .page-header__list-navigation-site {
  @media (max-width: $mobile-max-width) {
    display: none;
  }
}

.page-header--opened .page-header__list-navigation-site {
  @media (max-width: $mobile-max-width) {
    display: block;
    width: 100%;
    height: calc(100vh - 27px);
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.page-header--nojs .page-header__list-navigation-site {
  @media (max-width: $mobile-max-width) {
    display: block;
  }
}

.page-header__item-navigation-site {
  @media (max-width: $mobile-max-width) {
    width: 100%;
    margin-bottom: 20px;

    border-bottom: 1px solid $grey;
  }
}

.page-header__item-navigation-site:nth-child(3) {
  margin-right: 241px;

  @media (max-width: $mobile-max-width) {
    margin-right: 0;
  }
}

.page-header__link-navigation-site {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: $grey;
}

//СТАЙЛГАЙД
//hover
.page-header__toggle:hover,
.page-header__button-search:hover,
.page-header__link-navigation-user[href]:hover svg,
.page-header__logo-link:hover {
  opacity: 0.6;
}

.page-header__form input:hover::placeholder {
  color: $black;
}

.page-header__link-navigation-site:hover {
  color: $black;
}

//focus
.page-header__toggle:focus,
.page-header__button-search:focus,
.page-header__link-navigation-user:focus,
.page-header__link-navigation-site:focus,
.page-header__logo-link:focus {
  outline: 2px solid $grey-focus;
  outline-offset: 2px;
}

//active
.page-header__toggle:active,
.page-header__button-search:active,
.page-header__link-navigation-user[href]:active,
.page-header__link-navigation-site:active,
.page-header__form input:active,
.page-header__logo-link:active {
  outline: none;
  opacity: 0.3;
}
