//Colors
$white: #ffffff;
$black:#000000;
$black-basis:#131313;
$black-text: #171717;
$black-page: #35333b;
$brown-ligth:  #c2ab81;
$grey: #808080;
$grey-text: #666666;


// Viewports
$min-width: 320px;
$mobile-max-width: 767px;
$tablet-max-width: 1023px;
